<div class="container">
  <div class="row">
    <div class="com-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only Show Odd Number</button>
      <br><br>
      <ul>
        <div *ngIf="!onlyOdd">
          <li  
              class="list-gruop-item"
              [ngClass]="{even : even % 2 !== 0}"
              *ngFor="let even of evenNumber">{{even}}
          </li>
        </div>
        
        <!-- <div *ngIf="onlyOdd"> 
          <li 
              class="list-gruop-item"     
              [ngClass]="{odd : odd % 2 !== 0}"
              [ngStyle]="{backgroundColor:  odd % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let odd of oddNumber">
              {{odd}}
          </li>
        </div>
      
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{odd : odd % 2 !== 0}"
              [ngStyle]="{backgroundColor:  odd % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumber"
            >{{even}}</li>
          </div>
        </ng-template> -->

        <div *appUnless="onlyOdd"> 
          <li 
              class="list-gruop-item"     
              [ngClass]="{odd : odd % 2 !== 0}"
              [ngStyle]="{backgroundColor:  odd % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let odd of oddNumber">
              {{odd}}
          </li>
        </div>
       </ul>
      <p appBasicHighLight>Style me with basic directive</p>
      <p [appBetterHeighlight]="'red'" defaultColor="yellow">Style me with better directive</p>
      <div [ngSwitch]="value">  
          <p *ngSwitchCase="5">Value is 5</p>
          <p *ngSwitchCase="10">Value is 10</p>
          <p *ngSwitchCase="100">Value is 100</p>
          <p *ngSwitchCase="1000">Value is 1000</p>
          <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>