<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <button (click)="onAdd()">Add</button>
      <hr>
      Appstatus : {{appStatus | async}}
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers | filter:filteredStatus:'status' | short: 'name'"
          [ngClass]="getStatusClasses(server)">
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shotennPipe:10 }}</strong> |
          {{ server.instanceType | uppercase | reverse}} |
          {{ server.started | date: 'dd/MM/yyyy'}}
        </li>
      </ul>
    </div>
  </div>
</div>
